# Enable warnings
build --cxxopt -Wall
build --cxxopt -Werror
build --cxxopt -Wextra
build --cxxopt -Wpedantic
build --cxxopt -Woverloaded-virtual
build --cxxopt -Wsequence-point
build --cxxopt -Wunused
build --cxxopt -pedantic-errors

# Disable warnings
build --cxxopt -Wno-unused-function

# Add test configuration
test --test_output all
test --test_verbose_timeout_warnings
test --cache_test_results=no
test --test_timeout 1
